:root {
    --gray-color: #98A0B2;
    --body-background: #d5dff0;

    --text-color: #392463;
    --tablet-first-color: #98A0B2;
    --tablet-second-color: #98A0B2;

    --primary-color: #392463;
    --accent-color: #4ef889;

    --name-text-color: #f7f9fc;

    --light-background-color: #f7f9fc;

    --red-primary-color: #f6072f;
    --red-accent-color: #d1f9f9;
}

body.theme-dark {
    --primary-color: var(--red-primary-color);
    --accent-color: var(--red-accent-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--body-background);
}

header {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 50px;
    margin-bottom: 20px;
}

p, span {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
}

.main-info {
    display: flex;
    justify-content: space-around;
    margin-right: 48px;
}

.avatar {
    height: 271px;
    width: 271px;
    align-self: center;
    margin: 20px 50px 20px 20px;
    border-radius: 500px;
    object-fit: cover;
}

.name {
    width: 442px;
    height: 233px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name-text {
    display: inline-block;
    height: 125px;
    font-size: 50px;
    color: var(--name-text-color);
}

.android-dev {
    display: block;
    font-size: 35px;
    color: var(--accent-color);
    vertical-align: center;
    height: 45px;
    margin-bottom: 10px;
}

.location-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    /*background: url('../asset/icon-location.svg');*/
    color: var(--name-text-color);
}

.android-icon {
    display: inline-flex;
    height: 30px;
    width: 30px;
}

.location-text {
    font-size: 20px;
    display: flex;
    align-self: center;
    margin-left: 5px;
    color: var(--name-text-color);
}

.location {
    display: flex;
    justify-content: flex-start;
    height: 30px;
}

.right-block {
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts {
    width: 442px;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.email-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    color: var(--name-text-color);
    background: url('../asset/icon-email.svg');
    background-size: contain;
    align-self: center;
}

.telegram-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../asset/icon-telegram.svg');
    background-size: contain;
    align-self: center;
}

.github-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../asset/icon-github.svg');
    background-size: contain;
    align-self: center;
}

a, .contact-text {
    font-family: Roboto, sans-serif;
    color: var(--name-text-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.contacts-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--name-text-color);
}

.card-contacts-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.card-contacts-link:hover {
    color: var(--accent-color);
}

.card-github-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../asset/icon-card-github.svg');
    background-size: contain;
    align-self: center;
}

.contact-item {
    color: var(--light-background-color);
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.contacts-link:hover {
    color: var(--accent-color);
}

.download-pdf-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: var(--primary-color);
}

.download-pdf-btn {
    transition: all 500ms ease-out;
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 42px;
    width: 227px;
    background-color: var(--accent-color);
    border-radius: 50px;
    align-self: flex-start;
}

.download-pdf-btn:hover {
    transform: scale(1.06);
    cursor: pointer;
    text-decoration: none;
}

.download-pdf-btn-text {
    text-decoration: none;
    color: var(--text-color);
    font-family: Roboto Regular, sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.section-title {
    padding: 10px 20px 10px 40px;
    font-size: 25px;
    font-family: "Roboto Regular", sans-serif;
    color: var(--accent-color);
    background: var(--primary-color);
    border-radius: 4px;
    display: block;
    letter-spacing: 1px;
}

.section-content {
    margin: 15px 5px 30px 5px;
}

.tablet {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--primary-color);
    color: var(--name-text-color);
    padding: 10px 20px;
    border-radius: 24px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tablet-gray {
    background: var(--tablet-second-color);
}

li {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    font-size: 20px;
    margin-left: 20px;
}

.card {
    box-sizing: content-box;
    background: var(--light-background-color);
    /*border-radius: 4px;*/
    padding: 20px;
    margin: 15px;
    width: calc(42%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-column {
    box-sizing: content-box;
    background: var(--light-background-color);
    /*border-radius: 4px;*/
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.empty {
    margin-left: 20px;
}

.card-name {
    font-family: "Roboto Regular", sans-serif;
    font-size: 25px;
    color: var(--text-color);
    padding: 5px;
    margin-bottom: 8px;
}

.card-text {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 16px;
}

.card-span-title {
    display: inline-block;
    font-family: Roboto Bold, sans-serif;
    font-weight: bold;
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.stack-content {
    margin-left: 20px;
    color: var(--text-color);
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.link-project {
    margin-top: 10px;
    display: flex;
}

.update-date {
    display: flex;
    color: var(--gray-color);
    margin: 10px 2% 10px 10px;
    justify-content: flex-end;
}

.columns {
    display: flex;
}

.left-column {
    margin-left: 40px;
    margin-right: 20px;
    width: calc(60%);
}
.right-column {
    width: calc(40%);
    margin-left: 20px;
    margin-right: 40px;
}

@media screen and (max-width: 1350px) {
    header, .main-info {
        flex-direction: column;
    }

    .avatar {
        margin: 20px;
    }

    .name-text, .android-dev {
        text-align: center;
    }

    .location {
        align-self: center;
    }

    .contacts {
        display: flex;
        align-items: flex-start;
        margin-left: 100px;
    }

    .card {
        box-sizing: content-box;
        background: var(--light-background-color);
        position: relative;
        border-radius: 4px;
        padding: 20px;
        margin: 15px;
        width: calc(42%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .columns {
        flex-direction: column;
    }

    .left-column {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    .right-column {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .download-pdf-btn {
        display: flex;
        align-self: center;
    }
}
@media screen and (max-width: 1594px) {
    .card {
        width: calc(100%);
    }
}

/* hamburger */
.checkbox {
    display: none;
}

.button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: absolute;
    top: 5vh;
    right: 5vw;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    transition: all 500ms ease-out;
}

.background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--primary-color);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.button:hover .icon::after {
    transform: scale(1.2);
}

.button:hover .icon::before {
    transform: scale(1.2);
}


.nav {
    height: 100vh;
    position: absolute;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
}

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 1rem;
    font-size: 48px;
}

.link:link, .link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            white 50%
    );
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover, .link:active {
    color: var(--accent-color);
    cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
    transform: scale(80);
}

.checkbox:checked ~ body {
    background: var(--primary-color);
}

.checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon, .icon::before, .icon::after {
    width: 3rem;
    height: 2px;
    background-color: var(--accent-color);
    display: inline-block;
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.8rem;
}
.icon::after {
    top: 0.8rem;
}

.button:hover icon:before {
    top: -1rem;
}
.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked + .button .icon {
    background-color: transparent;
}

.checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

body input {
    display: none;
}

body .toggleWrapper {
    position: absolute;
    top: 15vh;
    right: 5.5vw;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fe4551;
    box-shadow: 0 20px 20px 0 rgba(254, 69, 81, 0.3);
}
body .toggleWrapper:active {
    width: 55px;
    height: 55px;
    box-shadow: 0 15px 15px 0 rgba(254, 69, 81, 0.5);
}
body .toggleWrapper:active .toggle {
    height: 17px;
    width: 17px;
}
body .toggleWrapper .toggle {
    transition: all 0.2s ease-in-out;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 10px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    animation: red 0.7s linear forwards;
}

body input:checked + .toggleWrapper {
    background-color: #48e98a;
    box-shadow: 0 20px 20px 0 rgba(72, 233, 138, 0.3);
}
body input:checked + .toggleWrapper:active {
    box-shadow: 0 15px 15px 0 rgba(72, 233, 138, 0.5);
}
body input:checked + .toggleWrapper .toggle {
    width: 0;
    background-color: #fff;
    border-color: transparent;
    border-radius: 30px;
    animation: green 0.7s linear forwards !important;
}

@keyframes red {
    0% {
        height: 30px;
        width: 0;
        border-width: 5px;
    }
    55% {
        height: 13px;
        width: 27px;
        border-width: 10px;
    }
    70% {
        height: 20px;
        width: 20px;
        border-width: 10px;
    }
    85% {
        height: 15px;
        width: 25px;
        border-width: 10px;
    }
    100% {
        height: 20px;
        width: 20px;
        border-width: 10px;
    }
}
@keyframes green {
    0% {
        height: 20px;
        width: 20px;
        border-width: 10px;
    }
    25%, 55%, 85% {
        height: 30px;
        width: 5px;
        border-width: 5px;
    }
    40%, 70%, 100% {
        height: 30px;
        width: 0;
        border-width: 5px;
    }
}
