:root {
    --white-color: #F5F6FA;
    --black-color: #0F224D;
    --gray-color: #98A0B2;
    --blue-color: #214AA6;
    --green-color: #1b663e;
    --gray-blue-color: #E2E5EC;
    --separator-color: #F0F1F5;


    --android-black-color: #0a2f42;
    --android-gray-color: #12435b;

    --android-background-color: #f7f9fc;
    --android-white-color: #f7f9fc;
    --android-green-color: #3bd984;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #e7eaee;
}

header {
    background: rgb(14,63,88);
    background: linear-gradient(0deg, rgba(14,63,88,1) 0%, rgba(10,47,66,1) 14%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 50px;
    margin-bottom: 20px;
}

p, span {
    color: var(--black-color);
    font-family: Roboto, sans-serif;
}

.main-info {
    display: flex;
    justify-content: space-around;
}

.avatar {
    height: 271px;
    width: 271px;
    align-self: center;
    margin: 20px 50px 20px 20px;
    border-radius: 500px;
    object-fit: cover;
}

.name {
    width: 442px;
    height: 233px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name-text {
    display: inline-block;
    height: 125px;
    font-size: 50px;
    color: var(--android-white-color);
}

.android {
    display: block;
    font-size: 35px;
    color: var(--android-green-color);
    vertical-align: center;
    height: 45px;
    margin-bottom: 10px;
}

.location-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    /*background: url('../asset/icon-location.svg');*/
    color: var(--android-white-color);
}

.android-icon {
    display: inline-flex;
    height: 30px;
    width: 30px;
}

.location-text {
    font-size: 20px;
    display: flex;
    align-self: center;
    margin-left: 5px;
    color: var(--android-white-color);
}

.location {
    display: flex;
    justify-content: flex-start;
    height: 30px;
}

.right-block {
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts {
    width: 442px;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.email-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    color: var(--android-white-color);
    background: url('../asset/icon-email.svg');
    background-size: contain;
    align-self: center;
}

.telegram-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../asset/icon-telegram.svg');
    background-size: contain;
    align-self: center;
}

.github-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../asset/icon-github.svg');
    background-size: contain;
    align-self: center;
}

a, .contact-text {
    font-family: Roboto, sans-serif;
    color: var(--android-white-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.contacts-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--android-white-color);
}

.card-contacts-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--android-black-color);
}

.card-contacts-link:hover {
    color: var(--android-green-color);
}

.card-github-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../asset/icon-card-github.svg');
    background-size: contain;
    align-self: center;
}

.contact-item {
    color: var(--android-white-color);
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.contacts-link:hover {
    color: var(--android-green-color);
}

.download-pdf-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: var(--android-black-color);
}

.download-pdf-btn {
    transition: all 500ms ease-out;
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 42px;
    width: 227px;
    background-color: var(--android-green-color);
    border-radius: 50px;
    align-self: flex-start;
}

.download-pdf-btn:hover {
    transform: scale(1.06);
    cursor: pointer;
    text-decoration: none;
}

.download-pdf-btn-text {
    text-decoration: none;
    color: var(--android-black-color);
    font-family: Roboto Regular, sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.section-title {
    padding: 10px 20px 10px 40px;
    /*transition-duration: 500ms;*/
    /*animation: slideout 1s ease-out;*/
    font-size: 25px;
    font-family: "Roboto Regular", sans-serif;
    color: var(--android-green-color);
    background: var(--android-gray-color);
    border-radius: 4px;
    display: block;
    letter-spacing: 1px;
}

/*.section-title:hover {*/
/*    animation: slidein 500ms ease-in;*/
/*    padding-left: 80px;*/
/*}*/

/*@keyframes slidein {*/
/*    0% {*/
/*        padding-left: 40px;*/
/*    }*/

/*    100% {*/
/*       padding-left: 80px;*/
/*    }*/
/*}*/


/*@keyframes slideout {*/
/*    0% {*/
/*        padding-left: 80px;*/
/*    }*/

/*    100% {*/
/*        padding-left: 40px;*/
/*    }*/
/*}*/


.section-content {
    margin: 15px 5px 30px 5px;
}

.tablet {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--android-black-color);
    color: var(--android-white-color);
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tablet-gray {
    background: var(--gray-color);
}

.tablet-green {
    background: var(--android-green-color);
}

li {
    font-family: Roboto, sans-serif;
    color: var(--android-black-color);
    font-size: 20px;
    margin-left: 20px;
}

.card {
    box-sizing: content-box;
    background: var(--android-background-color);
    border-radius: 4px;
    padding: 20px;
    margin: 15px;
    width: calc(42%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-column {
    box-sizing: content-box;
    background: var(--android-background-color);
    border-radius: 4px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.empty {
    margin-left: 20px;
}

.card-name {
    font-family: "Roboto Regular", sans-serif;
    font-size: 25px;
    color: var(--android-black-color);
    padding: 5px;
}

.card-text {
    font-family: Roboto, sans-serif;
    color: var(--android-black-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.card-span-title {
    display: inline-block;
    font-family: Roboto Bold, sans-serif;
    font-weight: bold;
    color: var(--android-black-color);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.stack-content {
    margin-left: 20px;
    color: var(--android-black-color);
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.link-project {
    display: flex;
    margin-top: 10px;
}

.update-date {
    display: flex;
    color: var(--gray-color);
    margin: 10px 2% 10px 10px;
    justify-content: flex-end;
}

.columns {
    display: flex;
}

.left-column {
    margin-left: 40px;
    margin-right: 20px;
    width: calc(60%);
}
.right-column {
    width: calc(40%);
    margin-left: 20px;
    margin-right: 40px;
}

@media screen and (max-width: 1350px) {
    header, .main-info {
        flex-direction: column;
    }

    .avatar {
        margin: 20px;
    }

    .name-text, .android {
        text-align: center;
    }

    .location {
        align-self: center;
    }

    .contacts {
        display: flex;
        align-items: flex-start;
        margin-left: 100px;
    }

    .card {
        box-sizing: content-box;
        background: var(--android-background-color);
        border-radius: 4px;
        padding: 20px;
        margin: 15px;
        width: calc(42%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .columns {
        flex-direction: column;
    }

    .left-column {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    .right-column {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .download-pdf-btn {
        display: flex;
        align-self: center;
    }
}
@media screen and (max-width: 1594px) {
    .card {
        width: calc(100%);
    }
}